<p class="text-xs-center">Войдите для работы</p>
<div
	class="alert alert-{{message.type}}"
	*ngIf="message.text"
>
	{{message.text}}
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<div 
		class="form-group"
		[ngClass]="{'has-error': f.usernameControl.invalid && f.usernameControl.touched}"
		>
		<label for="username">Логин</label>
		<input
			type="text"
			class="form-control underlined"
			id="username"
			placeholder="Введите имя пользователя"
			formControlName="usernameControl"
		>
		<span
			class="form-help-text"
			*ngIf="f.usernameControl.invalid && f.usernameControl.touched"
			>
			<span *ngIf="f.usernameControl.errors.required">Поле обязательно для ввода</span>
		</span>
	</div>

	<div 
		class="form-group"
		[ngClass]="{'has-error': f.passwordControl.invalid && f.passwordControl.touched}"
	>
		<label for="password">Пароль</label>
		<input
				type="password"
				class="form-control underlined"
				id="password"
				placeholder="Пароль"
				formControlName="passwordControl"
		>
		<span class="form-help-text" *ngIf="f.passwordControl.invalid && f.passwordControl.touched">
      <span *ngIf="f.passwordControl.errors.required">Поле обязательно для ввода</span>
      <span *ngIf="f.passwordControl.errors.minlength">Слишком короткий пароль
        {{ f.passwordControl.errors.minlength.actualLength }} / {{ f.passwordControl.errors.minlength.requiredLength }}
      </span>
    </span>

	</div>
	<div class="form-group">
		<button 
			type="submit" 
			class="btn btn-block btn-primary"
			[disabled]="loginForm.invalid"
		>Войти</button>
	</div>
	<div class="form-group">
		<p class="text-muted text-xs-center">
			Нет аккаунта? <a routerLink="/registration">Зарегистрироваться!</a>
		</p>
	</div>
</form>
